<app-navbar></app-navbar>

<div>
    <div *ngIf="!isLogged">
        <button  routerLink="/login">Login</button>
        <br>
    </div>
    <div *ngIf="!isLogged">
        <button routerLink="/register">Register</button>
        <br>
    </div>
    <div *ngIf="isLogged">
        <button routerLink="/user">User</button>
        <br>
    </div>
    <div *ngIf="isLogged">
        <button routerLink="/categories" style="background-color: red;">Categories</button>
        <br>
    </div>    
</div>
