html,
body{
    height: 80vh;
}

img{
    height: 300px;
    width: 400px;
}


#hForAll{
    overflow: hidden;
    text-overflow: ellipsis;
    height: 33.5;
    width: 746;
}

#pFroAll{
    height: 250px;
    max-width: 746px;
    text-align: justify;
    overflow: hidden;
    text-overflow: ellipsis;
}

#pForOne{
    overflow: hidden;
    max-width: 1300px;
}

#hForOne{
    overflow: hidden;
    max-width: 1300px;
}