<app-navbar></app-navbar>

<html>

<body>
    <div class="container">
        <div class="position-absolute top-20 end-0" style="margin-right: 40px;">
            <button type="button" class="btn btn-success" (click)="routeCreate()">Yeni Makale Oluştur</button>
        </div>
        <!-- Hiç yazısı yoksa -->
        <div *ngIf="!isWriterHasAnyArticle" id="withoutAnyArticle">
            <h4>Henüz Hiç Makale Oluşturmamışsın.. :( <a (click)="routeCreate()"
                    style="color: blue;text-decoration: underline; cursor: pointer;">Buraya</a> Tıklayarak Yeni Yazı
                Oluşturabilirsin.</h4>
        </div>

        <!-- Yazdığı yazılar varsa -->
        <div *ngIf="isWriterHasAnyArticle" >
            <div *ngFor="let article of usersArticles" style="max-height: 300px; margin-bottom: 30px;">
                <div class="row">
                    <img class="col-3" id="articleImg"  src="../../../assets/profilephoto.jpg">
                    <div class="col-4" id="textDiv">
                        <h3 id="hForall">{{article.title}}</h3>
                        <p id="pForAll">{{article.content}}</p>
                    </div>
                    <div class="col-4" id="modifyButtonsDiv">
                        <button (click)="activeDeletePanel(article.id)" id="modifyButtons" class="btn btn-danger"><img src="https://img.icons8.com/ios/25/delete-trash.png"></button>
                        <button (click)="routeUpdate(article.id)" id="modifyButtons" class="btn btn-info"><img src="https://img.icons8.com/pastel-glyph/25/loop.png"></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Update Selected Article -->
    <!-- <div *ngIf="isUpdateActive" class="container">
        
    </div> -->
</body>

</html>