<app-navbar></app-navbar>

<body>
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <img src="../../../assets/profilephoto.jpg" alt="">
                <a><button class="btn btn-primary" routerLink="users">Üyeleri Düzenle</button></a>
            </div>
            <div class="col-sm">
                <img src="../../../assets/kategori.png" alt="">
                <a class="col-sm"><button class="btn btn-primary" routerLink="categories">Kategorileri Düzenle</button></a>
            </div>
            <div class="col-sm">
                <img src="../../../assets/rol.png" alt="">
                <a class="col-sm"><button class="btn btn-primary" routerLink="roles">Rolleri Düzenle</button></a>
            </div>
        </div>
    </div>
</body>